/* ================== GENERAL STYLES ================== */

body {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden; /* Prevent horizontal scrolling */

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body always fills the viewport */
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    margin: 1em 0;
}

/* ================== NAVIGATION BAR ================== */

.navbar {
    border-bottom: #383737 3px solid; 
    position: sticky;
    top: 0;
    background-color: #0a192f;
    z-index: 100;
}

.navbar-highlight {
    color: #5398d9;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-highlight:hover {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: #b4b4b4;
    margin: 0 .5rem;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: rgb(130, 160, 255);
}

.nav-icon {
    color: #ffffff;
}

.nav-icon:hover {
    color: rgb(130, 160, 255);
    transform: scale(1.5);
    transition: transform 0.4s ease;
}

/* ================== HERO SECTION ================== */

.hero {
    flex: 1; /* Fill remaining space */
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox layout */
    justify-content: center; /* Center horizontally */
    text-align: center;
    color: #a3a3a3; /* Light text color */
    padding: 0 2rem; /* Add padding for responsiveness */
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
}

.hero-content {
    max-width: 800px;
    margin-top: 5%;
}

.hero-content h1 {
    color: #329cff;
    margin-bottom: 1rem;
}

.hero-content h2 {
    color: rgb(124, 124, 124);
    margin-bottom: 2rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.resume-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #2fb495;
    border: 2px solid #49ddbb;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    box-shadow: 0px 4px 15px rgba(57, 204, 170, 0.3);
}
  
.resume-button:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    background-color: #13cfa3;
    color: #0a192f;
}

/* ================== ABOUT SECTION ================== */

.about-section {
    padding: 5rem;
    color: #ffffff;
}

.about-section-title {
    font-size: 2rem;
    font-weight: bold;
}

.about-text h3 {
    color: #54c6ca;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.about-coding-image {
    flex: 1;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ================== SKILLS SECTION ================== */

.skills-section {
    text-align: center;
    padding: 3em;
    background-color: #0a192f;
    color: #ffffff;
    padding-bottom: 5rem;
    position: relative; /* Ensure proper layout */
    padding-top: 3rem; /* Adjust this to the height of your navbar */
    margin-top: -2rem; /* Negative margin compensates for the extra space */
}

.skills-section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.skills-cards {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.skill-card {
    position: relative;
    background-color: #1f2937;
    border: 1px solid #394152;
    border-radius: 8px;
    padding: 1.5rem 1rem;
    flex: 1;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.skill-title {
    position: relative;
    font-size: 1.2rem;
    color: #149ea3;
    margin: 0 0 1rem 0;
    padding-left: 1.5rem;
    line-height: 1.5;
}

.skill-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #39ccaa;
    border-radius: 2px;
}

.skill-title span {
    display: block;
    font-size: 1rem;
    color: #64ffda;
}

.skill-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #a3a3a3;
}

.skill-icon {
    display: flex;
    gap: 1.5rem;
    font-size: 3rem;
    color: #368d3a;
    margin-bottom: 1rem;
}

/* ================== PROJECTS SECTION ================== */

.projects-section {
    padding: 4rem;
    color: #ffffff;
}

.projects-section h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 1rem; /* Space between rectangles */
    justify-content: center; /* Center the grid horizontally */
    align-content: center; /* Center the grid vertically */
    padding: 4rem;
    color: #ffffff;
}

.project-frame {
    display: block;
    width: 100%;
    padding-top: 56.25%; /* Maintain 16:9 aspect ratio */
    background-color: #1b2029; /* Placeholder color */
    border: 2px solid #696969; /* White border */
    border-radius: 8px; /* Slightly rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-frame:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2); /* Subtle shadow on hover */
}

/* ================== CONTACT SECTION ================== */

/* Contact Section */
.contact-section {
    display: flex;
    flex-direction: row;
}

/* Contact Form */
.contact-form {
    flex: 1; /* Takes 50% of the width */
    background-color: #121a2c;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.contact-form p {
    margin-bottom: 20px;
    color: #bdbdbd;
}

.contact-form form label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    color: #fff;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.contact-form form button {
    padding: 10px;
    border: none;
    background-color: #2fb495;
    color: #0a192f;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.contact-form form button:hover {
    background-color: #13cfa300;
    color: #41ce6b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Contact Map */
.contact-map {
    flex: 1; /* Takes 50% of the width */
    position: relative;
    padding: 5%;
}

.contact-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* ================== FOOTER ================== */

footer {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #141a24;
    color: #838383;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    border-top: 1px solid #112240;
    position: relative;
}

footer p {
    margin-top: 1rem;
}

footer p span {
    color: #cacaca;
}

.scroll-to-top {
    display: inline-block;
    font-size: 2rem;
    color: #5c726d;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    z-index: 10;
    position: absolute;
    bottom: 2rem;
    left: 5%;
    transform: translateX(-50%);
    pointer-events: auto;
}

.scroll-to-top:hover {
    color: #64ffda;
    transform: translateX(-50%) scale(1.2);
}

/* ================== DYNAMIC BACKGROUND ================== */

.dynamic-background {
    height: auto;
    width: 100%;
    background: linear-gradient(160deg, #063526, #153b47, #125c7c);
    background-size: 450% 300%;
    animation: gradientAnimation 15s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 11%;
    }
    25% {
        background-position: 33% 33%;
    }
    50% {
        background-position: 66% 50%;
    }
    75% {
        background-position: 33% 33%;
    }
    100% {
        background-position: 0% 11%;
    }
}

/* ================== RESPONSIVE DESIGN ================== */

@media (max-width: 519px) {
    /* Navbar */
    .navbar {
        flex-wrap: wrap;
        text-align: center;
        padding: 0.5rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        gap: 0.1rem;
    }

    .nav-link {
        margin: 0.3rem 0;
        font-size: 0.9rem;
    }

    /* Hero Section */
    .hero { 
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .hero-content {
        margin-top: 1rem;
        padding: 0;
        text-align: center;
    }

    .circle-image {
        width: 120px;
        height: 120px;
        margin: 1rem auto;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content h2 {
        font-size: 1.2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    /* About Section */
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .about-text {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }

    .about-coding-image {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }

    /* Skills Section */
    .skills-cards {
        flex-direction: column;
        gap: 1rem;
    }

    /* Projects Section */
    .projects-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 0.5rem;
    }

    .project-frame {
        margin-bottom: 0.5rem;
    }

    /* Contact Section */
    .contact-section {
        flex-direction: column;
    }

    .contact-form,
    .contact-map {
        flex: unset;
        width: 100%;
        padding: 0.5rem;
    }

    .contact-map {
        position: relative;
        height: 200px;
    }

    .contact-map iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }

    /* Footer */
    footer {
        padding: 0.5rem;
        font-size: 0.7rem;
    }

    .scroll-to-top {
        font-size: 1.3rem;
        bottom: 0.8rem;
    }
}

@media (min-width: 520px) and (max-width: 767px)  {
    /* Navbar */
    .navbar {
        flex-wrap: wrap;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        margin: 0.5rem 0;
    }

    /* Hero Section */
    .hero {
        flex-direction: column;
        padding: 1rem;
    }

    .hero-content {
        margin-top: 2rem;
        padding: 0;
        text-align: center;
    }

    .circle-image {
        margin: 1rem auto;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    /* About Section */
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-text {
        margin-bottom: 1.5rem;
    }

    .about-coding-image {
        max-width: 100%;
    }

    /* Skills Section */
    .skills-cards {
        flex-direction: column;
        gap: 1.5rem;
    }

    /* Projects Section */
    .projects-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .project-frame {
        margin-bottom: 1rem;
    }

    /* Contact Section */
    .contact-section {
        flex-direction: column;
    }

    .contact-form,
    .contact-map {
        flex: unset;
        width: 100%;
        padding: 1rem;
    }

    .contact-map {
        position: relative;
        height: 300px;
    }

    .contact-map iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }

    /* Footer */
    footer {
        padding: 0.8rem;
        font-size: 0.8rem;
    }

    .scroll-to-top {
        font-size: 1.5rem;
        bottom: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Navbar */
    .navbar {
        padding: 0.5rem 1rem;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Hero Section */
    .hero {
        flex-direction: column;
        margin-left: 4%;
        text-align: center;
    }

    .circle-image {
        margin: 1rem auto;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }

    /* About Section */
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .about-text {
        width: 100%;
        text-align: justify;
    }

    .about-coding-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 8px;
    }

    /* Skills Section */
    .skills-cards {
        flex-direction: column;
        gap: 1rem;
    }

    .skill-card {
        flex: 1 1 calc(50% - 1rem);
        margin-bottom: 1rem;
    }

    /* Projects Section */
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1rem;
    }

    /* Contact Section */
    .contact-section {
        flex-direction: column;
    }

    .contact-form,
    .contact-map {
        flex: unset;
        width: 100%;
        padding: 1rem;
    }

    .contact-map {
        position: relative;
        height: 300px;
    }

    .contact-map iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }

    /* Footer */
    footer {
        padding: 1rem;
        font-size: 1rem;
    }

    .scroll-to-top {
        font-size: 1.8rem;
        bottom: 1rem;
    }
}
